.home-container {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 100px;
  margin-top: 100px;
}

.hello-tag {
  width: 30%;
  font-size: 26px;
  font-weight: 700;
  color: #223030;
  line-height: 39px;
}

.hello-tag-2 {
  width: 30%;
  font-size: 16px;
  font-weight: 400;
  color: #223030;
  line-height: 27.2px;
}

.home-project-container {
  display: flex;
  flex-direction: column;
  width: 67%;
  margin: 100px auto;
  justify-content: center;
}

.home-projects {
  display: flex;
  justify-content: space-between;
  /* this will place the div and the button on opposite sides */
  width: 100%;
  /* this will make sure the div and button take up the full width of the container */
  margin-bottom: 20px;
}

.break {
  height: 1px;
  background-color: #223030;
  border: none;

}

.home-projects>div {
  font-size: 16px;
  font-weight: 700;
  color: #223030;
}

.home-project-button {
  display: flex;
  font-size: 14px;
  font-weight: 700;
  color: #223030;
  background-color: none;
  border: none;
  background: none;
  cursor: pointer;
  align-items: center;
  justify-items: center;
}

.rightarrow {
  justify-content: center;
  align-items: center;
}